@charset "utf-8";

.background_wrapper {
    /* background-color:  rgba(246, 255, 125, 0.315); */
    background-color: #def0f1;
    min-height: 100vh;
    position: relative;
}

.sm_section {
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}


.ul-align-center{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.lg_works {
    background-color: #fff;
    margin-top: 32px;
    border-radius: 24px;
    width: 1200px;
}

.lg_work {
    background-color: #fff;
    margin-top: 32px;
    margin-bottom: 120px;
    border-radius: 24px;
    width: 1200px;
}  

.work_block {
    margin-top: 16px;
    margin-bottom: 24px;
}

.sm_work {
    text-align: left;
    line-height: 48px;
    font-weight: 600;    
}

.explain {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment {
    text-align: left;
    line-height: 24px;
    font-weight: 100;
}

.side-menu{
    position: absolute;
    right: 0; 
}

#side-menu ul{
    float: right;
    padding:0;
    margin-left: auto;
    margin-right: 10px;
    font-size: 0;
    z-index: 1000;
}

.fixed {
    position: fixed; /* 画面に固定して追従させます */
    top: 0vh; /* 表示画面の上から20%のところから表示を始めます */
      right:0; /* 固定位置は右側 */
      font-size:0;
}

#side-menu ul{
    text-align: left;
}

#side-menu li{
    border-radius: 4px;
    background-color: #00acaf;
    padding:3px;
    margin-top: 5px;
}

#side-menu li:hover {
    background-color: rgba(7, 88, 88, 0.651);
  }

#side-menu li a{
    font-size:1rem; /*  フォントサイズ0になっているので指定する */
    /* 以下、装飾 */
      /* padding:20px 24px; */
    color:#fff;
    text-decoration: none;
}

.bottom_btn{
    position: fixed;
    bottom: 0;
    margin-bottom: 16px;
    z-index: 1000;
}

